* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container {
    border:1px solid black;
    margin: 2rem;
    
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}

.img-container{
    border:1px solid black;
    padding: 0.5rem;
}

.img-container {
    width: 10rem;
}

.bottom-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}